[
    {
        "name": "Amatsukazeのプリセット名を入れる。ここで指定した物を使う場合、録画後実行バッチの第3引数に0を入れる"
    },
    {
        "name": "Amatsukazeのプリセット名を入れる。ここで指定した物を使う場合、録画後実行バッチの第3引数に1を入れる"
    },
    {
        "name": "NVEnc_アニメ用"
    }
]